@page "/tours"
@using ViajantesTurismo.AdminApi.Contracts
@attribute [StreamRendering]
@attribute [OutputCache(Duration = 5)]

@inject ToursApiClient ToursApi

<PageTitle>Tours</PageTitle>

<h1><i class="bi bi-list-nested"></i> Tours</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (_tours == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
                <th>Single Room Supplement</th>
                <th>Regular Bike Price</th>
                <th>E-Bike Price</th>
                <th>Currency</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var tour in _tours)
            {
                <tr>
                    <td>@tour.Identifier</td>
                    <td>@tour.Name</td>
                    <td>@tour.StartDate.ToShortDateString()</td>
                    <td>@tour.EndDate.ToShortDateString()</td>
                    <td>@FormatPrice(tour.Price, tour.Currency)</td>
                    <td>@FormatPrice(tour.SingleRoomSupplementPrice, tour.Currency)</td>
                    <td>@FormatPrice(tour.RegularBikePrice, tour.Currency)</td>
                    <td>@FormatPrice(tour.EBikePrice, tour.Currency)</td>
                    <td>@tour.Currency</td>
                    <td>
                        <div class="btn-group" role="group">
                            <NavLink href="@($"/tours/{tour.Id}")" class="btn btn-sm btn-info">View Details</NavLink>
                            <NavLink href="@($"/edittour/{tour.Id}")" class="btn btn-sm btn-primary">Edit</NavLink>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@code {
    private GetTourDto[]? _tours;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _tours = await ToursApi.GetTours();
    }

    private static string FormatPrice(decimal price, CurrencyDto currency)
    {
        var symbol = currency switch
        {
            CurrencyDto.Real => "R$",
            CurrencyDto.Euro => "€",
            CurrencyDto.UsDollar => "$",
            _ => ""
        };
        return $"{symbol}{price:N2}";
    }

}
